<div class="container">
  <h1>Recipe Show Page</h1>
  <hr />
  <hr />
  <section class="recipe-container">
    <h2>French Toast</h2>
    <hr />
    <em>Ingredients: </em>
    <code>
      <ul>
        <li>1lb of white russett potatoes</li>
        <li>1 clove of minced garlic</li>
        <li>2 tablespoons of butter</li>
        <li>1/5 cup of milk</li>
        <li>1/2 ounce of cream cheese at room temp.</li>
        <li>fresh chives or green onions for toppings</li>
      </ul>
    </code>
  </section>
</div>
